In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/raw/labeled_texts_fixed_binary.csv')

In [10]:
df = df.drop(['labels', 'joined'], axis=1)

In [11]:
df = df.rename

,texts,nationality,families,sex,limit,dd
0,Сдаётся студия на длительный срок в доме комфо...,0,0,0,0,"['0', '0', '0', '0']"
1,Раздвижной шифоньер. Сдам на долгий срок 1-к. ...,0,0,0,0,"['0', '0', '0', '0']"
2,Предлагается в аренду студия 30 кв.м. в СНТ Да...,0,0,0,0,"['0', '0', '0', '0']"
3,"Сдается замечательная, светлая, просторная одн...",0,0,0,0,"['0', '0', '0', '0']"
4,"МЕТРО 5 мин пешком!Сдается уютная , светлая кв...",1,0,0,0,"['1', '0', '0', '0']"
...,...,...,...,...,...,...
9523,Предлагаем квартиру в клубном доме The Mostman...,0,0,0,0,"['0', '0', '0', '0']"
9524,ID 32711 Двухуровневая элитная квартира общей ...,0,0,0,0,"['0', '0', '0', '0']"
9525,Лот 108209. БЕЗ АГЕНТСКИХ ИЛИ КОМИССИИ ДЛЯ А...,0,0,0,0,"['0', '0', '0', '0']"
9526,Представляем в аренду 3 х комнатную квартиру в...,0,0,0,0,"['0', '0', '0', '0']"
9527,ВСЕХ ОРГАНИЗАЦИИ!!!Сдается очень хорошая кварт...,1,0,0,0,"['1', '0', '0', '0']"

In [17]:
df = df.rename(columns={'dd': 'joined'})

In [18]:
df

,texts,nationality,families,sex,limit,joined
0,Сдаётся студия на длительный срок в доме комфо...,0,0,0,0,"['0', '0', '0', '0']"
1,Раздвижной шифоньер. Сдам на долгий срок 1-к. ...,0,0,0,0,"['0', '0', '0', '0']"
2,Предлагается в аренду студия 30 кв.м. в СНТ Да...,0,0,0,0,"['0', '0', '0', '0']"
3,"Сдается замечательная, светлая, просторная одн...",0,0,0,0,"['0', '0', '0', '0']"
4,"МЕТРО 5 мин пешком!Сдается уютная , светлая кв...",1,0,0,0,"['1', '0', '0', '0']"
...,...,...,...,...,...,...
9523,Предлагаем квартиру в клубном доме The Mostman...,0,0,0,0,"['0', '0', '0', '0']"
9524,ID 32711 Двухуровневая элитная квартира общей ...,0,0,0,0,"['0', '0', '0', '0']"
9525,Лот 108209. БЕЗ АГЕНТСКИХ ИЛИ КОМИССИИ ДЛЯ А...,0,0,0,0,"['0', '0', '0', '0']"
9526,Представляем в аренду 3 х комнатную квартиру в...,0,0,0,0,"['0', '0', '0', '0']"
9527,ВСЕХ ОРГАНИЗАЦИИ!!!Сдается очень хорошая кварт...,1,0,0,0,"['1', '0', '0', '0']"

In [19]:
df.to_csv('../data/raw/labeled_texts_fixed.csv', index=False)